# Python
__pycache__/
*.pyc

# Environments
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Large ML files
*.pt
*.pth
*.ckpt
*.onnx

# Data folders
grounding_data
huggingface
data/
datasets/
LLMDet/data/
LLMDet/datasets/

# Logs / outputs
logs/
runs/
outputs/

# System
.DS_Store


